.user{
    flex: 6;
    padding: 20px;

}

.userTitle{
    font-size: 24px;
    font-weight: 600;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: rgb(14, 129, 196);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }

  .userContainer {
    display: flex;
    margin-top: 20px;
  }

  .userContainerQR{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .userShow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .userUpdate {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
  }

.userShowTop {
    display: flex !important;
    align-items: center;
    margin-top: 20px;
    
  }
  
  
.userShowTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(156, 170, 170);
  
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #585f5f;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -80px !important;
}

.userCurrentTitle{
    font-size: 24px;
    font-weight: 600;
    /* margin-bottom: -100px !important; */
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;

}

.newUserSelect{
    height: 55px !important;
}

/* .userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
} */

.userUpdateInput{
    width: 500px;
    font-size: 10px !important;

}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.MuiAvatar-root.userUpdateImg{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdateIcon{
    cursor: pointer;
}

.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
.qrCodeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    
}
.qrCode{
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
    padding: 5px;
}