.home{
    flex: 6;
    overflow: hidden;
}

.homeWidgets{
    display: flex;
    margin: 20px;
}

.chart {
  height: 400px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}