.widgetLg {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  
  
}
.container{
  margin-top: 20px;
}
.widgetLgTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLgTable{
  margin-top: 10px;
}

.widgetLgTh{
  font-weight: 600 !important;
  
}

.widgetLgUser{
  display: flex !important;
  align-items: center;
  font-weight: 600;

}

.widgetLgName{
  font-weight: 600 !important;
}

.widgetLgImg {
  margin-right: 10px !important;
}

.widgetLgDate,.widgetLgAmount{
  font-weight: 300 !important;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Approved{
    background-color: #e5faf2;
    color: #3bb077;
}
.widgetLgButton.Declined{
    background-color: #fff0f1;
    color: #d95087;

}
.widgetLgButton.Pending{
    background-color: #ebf1fe;
    color: #2a7ade;

}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height of the widgetLg container */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a slight overlay */
}