.login{
    width: 100vw;
    height: 100vh;
   
    background-color: #e5f0ff;
    background-size: cover;
    position: relative;

    .top{
        .wrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                height: 50px;
            }

            
        }
    }

    .container{
        width: 100%;
        height: 90%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;

        
        form{
            width: 300px;
            height: 300px;
            padding: 30px;
            border-radius: 5px;
            background-color: var(--main-color);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
            // background-color: #dfe4fa;
            background:linear-gradient(
                to bottom, 
                rgba(204, 221, 245, 0.8) 0, 
                rgba(236, 224, 224, 0) 60%, 
                rgba(171, 221, 250, 0.8) 100%
            );
        }

        .inputText {
            background-color: white;
            border-radius: 10px;
            text-decoration: none;
                    
        }

        .loginButton{
            background-color: #4361ee;
            font-size: 18px;
        }

        h1{
            margin: 0;
            color: #4361ee;
        }

        span {
            color: lightgray;
            
            b {
              color: white;
            }
        }

        .errorMessage {
            color: red;
            margin-top: 10px;
            font-size: 0.9rem;
        }
        



    }

}
