/* Topbar styles */
.topbar {
    width: 100%;
    height: 75px;
    background-color: #e6f1fd;
    position: sticky;
    top:0;
    left:0;
    top: 0;
    z-index: 999;
    margin-bottom: -20px !important;
  }
  
  .topbarWrapper {
    height: 100%;
    width:100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    font-size: 30px;
    color: #294B29;
    cursor: pointer;
    white-space:nowrap;
  }
  
  .topRight {
    display: flex;
    align-items: center;
  }
  
  .topbarIconContainer {
    cursor: pointer;
    position: relative;
    margin-right: 15px;
  }
  
  .topAvatar {
    margin-top: -10px;
    cursor: pointer;
  }
  
  .profile {
    position: relative;
  }
  
  .profile .options {
    display: none;
    background-color: rgb(200, 220, 243);
    border-radius: 5px;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .profile span {
    padding: 10px;
    cursor: pointer;
    text-decoration: none !important;
    color: black;
    white-space:nowrap;
  }
  
  .profile:hover .options {
    display: flex;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {

    .topbar {
      position: fixed;

    }
   
    .topbarWrapper {
      padding: 0px 10px;
      justify-content: space-between;
    }
  
    .topRight {
      gap: 10px;
    }
  
    .topbarIconContainer {
      margin-right: 8px;
    }
  
    .profile .options {
      width: 100px; /* Reduce options dropdown width */
    }
  }
  
  @media (max-width: 576px) {

    .topbar {
      position: fixed;
      
    }
   
  
    .topbarIconContainer, .topAvatar {
      margin-right: 0; /* Reduce the margin between icons */
    }
  
    .profile {
      display: none; /* Optionally hide the profile dropdown */
    }
  }
  