.widgetSm{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
    position: relative;
    filter: none; /* No blur by default */
    transition: filter 0.3s ease; /* Smooth transition */
}

.widgetSm.loading {
    filter: blur(8px); /* Apply blur when loading */
}

.widgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}

.widgetSmList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widgetSmUser{
    display: flex;
    flex-direction: column;
    margin-left: -100px;
}

.widgetSmUsername{
    font-weight: 600;
}

.widgetSmUserTitle{
    font-weight: 300;
}

.widgetSmButton{
    border-radius: 10px;
    background-color: rgb(3, 163, 255);
}

.widgetSmImg{
    margin-left: 25px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full height of the widgetSm container */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a slight overlay */
}
